html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background: #606060;
    padding-top: 40px;
    padding-left: 200px;
    display: flex;
    align-items: center;
    width: 100%;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo-image {
    height: 30px;
    margin-right: 10px;
}

.header__item {
    display: flex;
    margin-left: 35rem;
}

.header__title {
    font-size: 24px;
    color: white;
    font-weight: bold;
    font-family: MuseoModerno;
}

.header__nav {
    padding: 10px;
}

.header__nav-list {
    display: flex;
    gap: 40px;
    list-style: none;
    padding-right: 38px;
}

.header__nav-item {
    font-family: MuseoModerno;
    justify-content: end;
}

.header__nav-link {
    color: white;
    text-decoration: none;
    font-size: 12px;
    position: relative;
    font-weight: bold;
}

.header__nav-link--active::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 50%;
    background-color: #FFA726;
    transform: translateX(50%);
}

.header__contact-button {
    background-color: #eba53d;
    text-align: center;
    align-items: center;
    color: white;
    width: 113px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    font-family: MuseoModerno;
    border: 0;
}

.hero {
    background: #606060;
    height: 500px;
    display: flex;
    align-items: center;
    color: white;
    border-bottom: 10px solid #cbc3c3;
}

.hero__content {
    padding-left: 200px;
    max-width: 800px;
}

.hero__subtitle {
    color: #F5AB48;
    font-size: 12px;
    letter-spacing: 5px;
    margin-bottom: 10px;
    font-family: 'DM Sans', sans-serif;
}

.hero__title {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
    font-family: 'DM Sans', sans-serif;
}

.hero__description {
    font-size: 14px;
    line-height: 1.6;
    width: 90%;
    color: #d3d3d3;
    margin-bottom: 30px;
    font-family: 'DM Sans', sans-serif;
}

.hero__buttons {
    display: flex;
    gap: 20px;
}

.hero__button {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

.hero__button--discover {
    background-color: #F5AB48;
    color: white;
}

.hero__button--video {
    background-color: transparent;
    color: #F5AB48;
    display: flex;
    gap: 20px;
}

.hero__button--video p {
    color: white;
    font-family: 'DM Sans', sans-serif;
    margin: auto;
}

.banner {
    background-color: #ffffff;
    padding: 40px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__content {
    display: flex;
    max-width: 1200px;
    width: 100%;
    align-items: center;
}

.banner__image {
    flex: 1;
    text-align: center;
    padding-right: 20px;
}

.banner__image img {
    max-width: 100%;
    border-radius: 8px;
}

.banner__text {
    flex: 1;
}

.banner__text h2 {
    font-family: 'DM Sans', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 15px;
}

.banner__subtitle {
    color: #F5AB48 !important;
    display: flex;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 10px;
    margin-bottom: 10px;
    font-family: 'DM Sans', sans-serif;
}

.banner__subtitle img {
    padding-right: 10px;
}

.banner__text p {
    font-family: 'Roboto', sans-serif;
    width: 90%;
    font-size: 16px;
    color: #606060;
    line-height: 1.6;
    padding-bottom: 10px;
}

.banner__features {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.banner__features li {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #606060;
    line-height: 1.6;
    margin-bottom: 10px;
    position: relative;
}

.banner__button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.our-mission {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.our-mission__container {
    text-align: center;
    padding: 20px;
    width: 100%;
}

.our-mission__subtitle {
    color: #F5AB48 !important;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 20px;
    letter-spacing: 10px;
    margin-bottom: 10px;
    font-family: 'DM Sans', sans-serif;
    align-items: center;
}

.our-mission__subtitle img {
    padding-right: 10px;
}

.our-mission__container h1 {
    font-size: 50px;
    padding: 10px;
}

.our-mission__description {
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.our-mission__description span {
    display: block;
    width: 40%;
    margin-right: 20px;
    text-align: center;
}

.our-mission_img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 7px;
}

.our-mission_img img {
    margin: 5px;
    width: 11%;
    border-radius: 7px;
}

.vertical-line {
    padding-right: 20px;
    border-right: 1px dashed #949494;
    align-items: center;
    height: 80px;
    margin-right: 20px;
}

.banner-2 {
    background-color: #ffffff;
    padding: 40px 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner-2__content {
    display: flex;
    max-width: 1200px;
    width: 73%;
    align-items: center;
}

.banner-2__text {
    flex: 1;
    align-items: flex-start;
    margin-bottom: 50px;
}

.banner-2__text h2 {
    font-family: 'DM Sans', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 15px;
}

.banner-2__subtitle {
    color: #F5AB48 !important;
    display: flex;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 10px;
    margin-bottom: 10px;
    font-family: 'DM Sans', sans-serif;
}

.banner-2__subtitle img {
    padding-right: 10px;
}

.banner-2__text p {
    font-family: 'Roboto', sans-serif;
    width: 90%;
    font-size: 16px;
    color: #606060;
    line-height: 1.6;
    padding-bottom: 10px;
}

.banner-2__features {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.banner-2__features li {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #606060;
    line-height: 1.6;
    margin-bottom: 10px;
    position: relative;
}

.banner-2__button {
    display: inline-block;
    background-color: #F5AB48;
    color: white;
    border: 0;
    padding: 10px 20px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
}

.banner-2__button img {
    margin-top: 1.5px;
    margin-left: 10px;
}

.banner-2__image {
    flex: 1;
    text-align: center;
    padding-right: 20px;
}

.banner-2__image img {
    max-width: 100%;
}

.our-offer {
    padding: 40px;
    text-align: center;
    background-color: white;
    font-family: 'DM Sans', sans-serif;
    width: 100%;
}

.our-offer__container {
    max-width: 1900px;
    margin: 0 auto;
}

.our-offer__subtitle {
    color: #F5AB48 !important;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: 10px;
    margin-bottom: 10px;
    font-family: 'DM Sans', sans-serif;
    align-items: center;
}

.our-offer__subtitle img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-bottom: 3px;

}

.our-offer h1 {
    font-size: 56px;
    color: #333;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 60px;
}

.our-offer__description span {
    font-size: 16px;
    font-weight: 400;
    color: #777;
    line-height: 26px;
    display: block;
    max-width: 700px;
    margin: 0 auto 30px;
    font-family: 'DM Sans', sans-serif;
    align-self: center;
}

.our-offer__content {
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.offer-offer__content--m {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 75%;
    margin: auto;
}

.our-offer__group {
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: left;
    display: flex;
    justify-content: center;
    transition: transform 0.2s ease;
    border-radius: 8px;
    padding: 0;
    margin: auto;
    box-sizing: border-box;
}

.our-offer__group:hover {
    transform: translateY(-5px);
}

.our-offer__group img {
    width: 60.12px;
    height: 60px;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;

}

.our-offer__context {
    margin-top: 10px;
    padding: 5px;
    width: 100%;
}

.our-offer__title {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.our-offer__text {
    font-size: 16px;
    color: #555;
    line-height: 26px;
    width: 100%;

}

.our-products {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.our-products__container {
    max-width: 1200px;
    width: 75%;
    margin: 0 auto;
}

.our-products__intro {
    flex: 1;
    align-items: flex-start;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.our-products__grid {
    font-family: 'DM Sans', sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.our-products__subtitle {
    color: #F5AB48 !important;
    display: flex;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 10px;
    margin-bottom: 10px;
    font-family: 'DM Sans', sans-serif;
}

.our-products__subtitle img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}


.our-products__title {
    font-size: 47px;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
}

.our-products__description {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
    font-family: Roboto;
    width: 90%;
}

.our-products__button {
    background-color: #4CAF50;
    color: white;
    padding: 16px 48px 16px 48px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 30px;
    justify-content: end;
    gap: 10px;
    font-family: 'DM Sans';
    line-height: 27px;
    font-weight: 500;
}

.product-card {
    background-color: #d3d3d3;
    width: 100%;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin: auto;
}

.product-card--highlighted {
    background-color: #54A02991;
    color: white;
    text-align: left;
    padding-left: 40px;
    display: block;
    padding-top: 10rem;
}

.product-card--highlighted h3 {
    margin: 0;
    font-size: 20px;
}

.product-card--highlighted p {
    font-size: 16px;
    color: #fff;
    margin: 5px 0;
    font-family: 'DM Sans';
    opacity: 60%;
    padding-bottom: 30px;
}

.product-card__link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    display: inline-block;
    font-family: 'DM Sans';
}

.testimonials {
    text-align: center;
    padding: 50px 20px;
    background-color: white;
    position: relative;
    font-family: 'DM Sans';
}

.testimonials__subtitle {
    color: #F5AB48 !important;
    font-weight: 500;
    display: flex;
    justify-content: center;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: 10px;
    margin-bottom: 10px;
    font-family: 'DM Sans', sans-serif;
    align-items: center;

}

.testimonials__subtitle img {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.testimonials__title {
    font-size: 56px;
    color: #333;
    margin: auto;
    margin-bottom: 40px;
    width: 60%;
}

.testimonials__cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    max-width: 1130px;
    margin: 0 auto;
}

.testimonial-card {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ACACAC4A;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 260px;
    text-align: left;
    margin: auto;
    align-items: center;
}

.testimonial-card__avatar {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.testimonial-card__avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.testimonial-card__context {
    margin: auto;
    justify-content: start;
    margin-left: 20px;
    margin-top: 10px;
    width: 60%;
}

.testimonial-card__name {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    color: #333;
}

.testimonial-card__location {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

.testimonial-card__content {
    width: 80%;
    margin: auto;
    padding-top: 10px;
}

.testimonial-card__text {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}

.testimonials__pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.pagination-dot {
    width: 10px;
    border: 2px solid #54A02982;
    height: 1px;
    background-color: #54A02982;
    transition: background-color 0.3s;
}


.testimonials__navigation {
    justify-content: end;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
    width: 88%;
}

.testimonials__nav-button {
    background-color: #FFA500;
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    rotate: 180°;
}

.testimonials__nav-button--prev {
    background: none;
    color: black;
    rotate: 180°;
    border: 1px solid white;
}

.growing-products {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    justify-content: center;
    margin-bottom: 5%;
    font-family: 'DM Sans', sans-serif;
}

.background-square {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 92%;
    background-color: #ccc;
    z-index: 1;
    margin-left: 270px;
}

.experience-box {
    background-color: #FFA500;
    padding: 20px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-right: 8%;
    position: relative;
    z-index: 2;
    margin-top: 370.5px;
    margin-left: 10%;
}

.experience-box span {
    display: block;
    font-size: 16px;
    font-weight: normal;
}

.growing-products__content {
    background-color: white;
    padding: 30px;
    max-width: 600px;
    position: relative;
    z-index: 2;
    margin-top: 78px;
}

.growing-products__subtitle {
    color: #F5AB48 !important;
    font-weight: 500;
    display: flex;
    justify-content: start;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: 10px;
    margin-bottom: 10px;
    font-family: 'DM Sans', sans-serif;
    align-items: center;
}

.growing-products__subtitle img {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.growing-products__title {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

.growing-products__description {
    font-size: 16px;
    color: #555;
    margin-bottom: 30px;
    line-height: 1.6;
    font-family: 'DM Sans', sans-serif;
}

.progress-bar {
    margin-bottom: 15px;
    width: 90%;
}

.progress-bar__label {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.progress-bar__track {
    background-color: #e0e0e0;
    border-radius: 10px;
    height: 8px;
    position: relative;
    overflow: hidden;
}

.progress-bar__fill {
    background-color: #4CAF50;
    height: 100%;
    border-radius: 10px;
    transition: width 0.3s;
}


.hero-section {
    background-image: url(../img/provide.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 502.03px;
    background-size: cover;
    padding: 80px 20px 8px;
    text-align: center;
    color: #fff;
}

.hero-section__content {
    margin: 0 auto;
    display: grid;
    font-family: 'DM Sans', sans-serif;
    margin-top: 3%;
}

.hero-section__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 50%;
    margin: auto;
}

.hero-section__description {
    font-size: 16px;
    margin: auto;
    width: 32%;
    margin-bottom: 10px;
    margin-top: 30px;
}

.hero-section__button {
    background-color: #ffa500;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 16px;
    width: 14%;
    margin: auto;
    margin-top: 30px;
    border: 0;
}

.blog-section {
    padding: 60px 20px;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
}

.blog-section__header {
    margin-bottom: 40px;
}

.blog-section__sub-title {
    color: #F5AB48 !important;
    font-weight: 500;
    display: flex;
    justify-content: center;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: 10px;
    margin-bottom: 10px;
    font-family: 'DM Sans', sans-serif;
    align-items: center;
}

.blog-section__sub-title img {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.blog-section__title {
    font-size: 36px;
    color: #1a1a1a;
    margin: 10px 0;
}

.blog-section__description {
    color: #666;
    margin: 0 auto;
    width: 47%;
}

.blog-section__content {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.blog-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 380px;
    text-align: left;

}

.blog-card__image {
    height: 279.11px;
    background-color: #ccc;
}

.blog-card__info {
    padding: 20px;
}

.blog-card__date {
    font-size: 18px;
    color: #4caf50;
    font-weight: 500;
    margin-bottom: 8px;
    line-height: 61.6px;
}

.blog-card__title {
    font-size: 24px;
    color: #333;
    margin: 0 0 10px;
    line-height: 31.2px;
}

.blog-card__description {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
    line-height: 26px;
}

.blog-card__link {
    font-size: 16px;
    color: black;
    text-decoration: none;
    font-weight: 700;
    line-height: 61.6px;
}

.blog-card__icon {
    background-color: #4caf50;
    color: #fff;
    padding: 5px 12px;
    margin-left: 5px;
    box-shadow: 0px 5px 13px 0px #54A02940;

}

.contact-section {
    padding: 60px 20px;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
}

.contact-section__content {
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.contact-section__header {
    margin: auto;
}

.contact-section__sub-title {
    color: #F5AB48 !important;
    font-weight: 500;
    display: flex;
    justify-content: center;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: 10px;
    margin-bottom: 10px;
    font-family: 'DM Sans';
    align-items: center;
}

.contact-section__sub-title img {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    margin-right: 5px;

}

.contact-section__title {
    font-size: 56px;
    color: #1F242E;
    margin: auto;
    width: 60%;
    font-weight: 700;
    letter-spacing: -0.06px;
    line-height: 60px;
}

.contact-section__container {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    padding-top: 3%;
}

.contact-section__context {
    padding: 20px;
}

.contact-section__description {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    margin: 20px 0;
    width: 87%;
    text-align: left;
}

.contact-section__features {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.contact-section__features li {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.contact-section__features li img {
    margin-right: 1%;
}

.contact-section__blocks {
    position: relative;
    width: 100%;
    height: 320px;
}

.gray-block {
    position: absolute;
    background-color: #C4C4C4;
    border-radius: 8px;
    margin-left: 0;
}

.gray-block--1 {
    width: 277.9px;
    height: 203.44px;
    top: 0;
    left: 0;
}

.gray-block--2 {
    width: 340.32px;
    height: 200.44px;
    top: 20%;
    left: 20%;
}

.green-block {
    position: relative;
    width: 80px;
    height: 80px;
    background-color: #4CAF50;
    border-radius: 8px;
    margin-left: 56%;
}

.orange-block {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    background-color: #FFA500;
    border-radius: 8px;
}

.contact-section__form-container {
    margin-top: 2%;
    width: 80%;
    background-color: #F8F6F4;
    padding: 20px;
    padding-top: 2px;
    border-radius: 8px;

}

.contact-form__title {
    font-size: 48px;
    color: #333;
    margin-bottom: 20px;
    text-align: start;
    font-weight: 700;
    line-height: 63.98px;
    padding-top: 2%;
}

.contact-form__group {
    display: grid;
    align-items: center;
    margin-bottom: 15px;
    padding-left: 4%;
}

.contact-form__label {
    width: 100%;
    text-align: left;
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
}

.contact-form__textarea {
    width: 418.19px !important;
    height: 119.26px !important;
    resize: none;
}

.contact-form__input {
    width: 418.19px !important;
    height: 55.65px !important;

}

.contact-form__input,
.contact-form__textarea {
    flex: 1;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 2%;
    font-family: 'DM Sans';
    font-size: 16px;
    line-height: 24px;
}

.contact-form__submit-btn {
    text-align: left;
    width: 30%;
    margin-left: 2%;
}

.contact-form__submit-btn button {
    margin-top: 26%;
    padding: 16px 48px 16px 48px;
    background-color: #f0a500;
    color: #fff;
    border: none;
    border-radius: 8px;
    width: 100%;
}

.footer {
    background-image: url(../img/footer.png);
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    padding: 50px 1px;
    font-family: 'DM Sans', sans-serif;
    background-size: cover;
    background-color: #0c1908;
}

.footer__container {
    display: flex;
    justify-content: space-around;
    padding: 0 100px;
    margin: 2% 100px;
    padding-bottom: 20px;

}

.footer__logo-section {
    max-width: 300px;
}

.footer__logo {
    height: 40px;
    margin-bottom: 10px;
}

.footer__logo-image {
    height: 30px;
    margin-right: 10px;
}

.footer__description {
    font-size: 16px;
    margin-bottom: 20px;
    font-family: Roboto;
    line-height: 24px;
    font-weight: 400;
}

.footer__contact {
    margin-top: 16%;
    line-height: 10px;
}


.footer__contact p {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.footer__contact img {
    margin-right: 10px;
}

.footer__links {
    font-family: 'DM Sans', sans-serif;
}

.footer__links h3,
.footer__posts h3 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 32px;
}

.footer__links ul,
.footer__posts ul {
    list-style: none;
    padding: 0;

}

.footer__links li,
.footer__posts li {
    margin-bottom: 8px;
}

.footer__links a,
.footer__post-title {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    line-height: 33px;
}

.footer__post-date {
    display: block;
    font-size: 12px;
    color: #8f8f8f;
    margin-bottom: 5px;
}

.footer__post-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__post-container img {
    width: 60px;
    height: auto;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #747171;
    padding: 10px 10px;
    font-size: 12px;
    color: #8f8f8f;
    max-width: 67.6%;
    margin: 0 auto;
}

.footer__social-icons {
    margin-right: 5%;
}

.footer__social-icons a {
    margin-left: 0px;
}

.footer__social-icons p {
    margin: 0;
    padding: 0;
    justify-self: start;
}

.footer__social-icons img {
    width: 20px;
    height: 16px;
    margin-right: 20px;
}

@media (max-width: 1280px) {

    .header {
        padding: 0;
        padding-top: 3%;
        flex-direction: column;
        align-items: center;
    }


    .header__item {
        margin-left: 0;
        display: grid;
        justify-content: center;
        align-items: center;
        width: 100%;
        justify-items: center;
    }

    .hero-section {
        padding: 40px 10px;
        text-align: center;
        background-position: center;
        background-size: cover;
    }

    .header__nav-list {
        padding-right: 0
    }

    .hero-section__title {
        font-size: 28px;
    }

    .hero-section__description {
        width: 90%;
        font-size: 14px;
    }

    .hero-section__button {
        width: 80%;
        padding: 12px;
    }

    .hero {
        padding: 20px;
        display: grid;
        align-items: center;
        text-align: center;
        border-bottom: 5px solid #cbc3c3;
    }

    .hero__content {
        padding: 0;
        max-width: 90%;
    }

    .hero__subtitle {
        width: 110%;
    }

    .hero__title {
        font-size: 36px;
        width: 110%;
    }

    .hero__description {
        width: 110%;
        font-size: 14px;
    }

    .hero__buttons {
        flex-direction: column;
        gap: 10px;
    }

    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        text-align: center;
    }

    .banner__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        justify-content: center;
    }

    .banner__subtitle {
        font-size: 16px;
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
    }


    .banner__subtitle img {
        margin-bottom: 1px;
        overflow: hidden;
        height: 30px;
    }

    .banner__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
    }

    .banner__image,
    .banner__text {
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    .banner-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        text-align: center;
    }

    .banner-2__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        justify-content: center;
    }

    .banner-2__text {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .banner-2__text h2 {
        font-size: 24px;
    }

    .banner-2__subtitle {
        font-size: 16px;
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
    }

    .banner-2__subtitle img {
        padding-top: 3px;
    }

    .banner-2__text p {
        font-size: 14px;
        width: 100%;
        line-height: 1.6;
    }

    .banner-2__button {
        width: 100%;
        justify-content: center;
        padding: 10px;
        font-size: 14px;
    }

    .banner-2__image {
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    .our-mission__container h1 {
        font-size: 33px;
    }

    .our-mission__description span {
        margin: 0;
        width: 77%;
    }

    .our-mission_img {
        display: block;
        grid-template-columns: 1fr !important
    }

    .our-mission_img img {
        width: 60%;
        padding: 2px;
    }

    .vertical-line {
        width: 100%;
        border: 1px dashed #949494;
        margin: auto;
        height: 1%;
    }

    .our-offer {
        padding: 20px;
        text-align: center;
    }

    .our-offer__container {
        max-width: 100%;
        margin: 0 auto;
    }

    .our-offer__subtitle {
        font-size: 16px;
    }

    .our-offer h1 {
        font-size: 36px;
    }

    .our-offer__description span {
        font-size: 14px;
        max-width: 100%;
        margin: 0 auto;
    }

    .offer-offer__content--m {
        grid-template-columns: 1fr;
        width: 100%;
        gap: 10px;
    }

    .our-offer__group {
        width: 100%;
        padding: 10px;
    }

    .our-products {
        display: block;
        text-align: center;
    }

    .our-products__button {
        width: 100%;
    }

    .product-card--highlighted {
        padding-left: 0;
        padding: 10rem 2px;
        margin: auto;
        text-align: center;
    }

    .our-products__title {
        font-size: 40px
    }

    .blog-section {
        padding: 40px 10px;
        text-align: center;
    }

    .blog-section__title {
        font-size: 28px;
    }

    .blog-section__description {
        width: 100%;
        font-size: 14px;
    }

    .blog-section__content {
        flex-direction: column;
        gap: 20px;
    }

    .blog-card {
        max-width: 100%;
        margin: 0 auto;
    }

    .our-products__grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .growing-products {
        display: block;
    }

    .background-square {
        margin-left: 120px;
        width: 67%;
        height: 102%
    }

    .experience-box {
        margin-top: 3%;
        top: 20px
    }

    .growing-products__content {
        width: 80%;
        margin: 10%;
    }

    .testimonials {
        padding: 20px;
    }

    .testimonials__title {
        font-size: 28px;
        width: 100%;
    }

    .testimonials__cards {
        flex-direction: column;
        gap: 10px;
    }

    .contact-section {
        padding: 40px 10px;
        font-family: 'DM Sans';
    }

    .contact-section__title {
        font-size: 36px;
        width: 100%;
    }

    .contact-section__container {
        flex-direction: column;
        width: 100%;
        padding-top: 10px;
        align-items: center;
    }

    .contact-section__features {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gray-block--2 {
        width: 80%;
    }

    .contact-section__context {
        display: flex;
        flex-direction: column;
        width: auto;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .contact-section__context li {
        display: flex;
        width: 100%;
        align-items: center;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-section__form-container {
        width: 100%;
    }

    .contact-form__input,
    .contact-form__textarea {
        margin: auto;
        width: 340px !important;
    }

    .contact-form__submit-btn {
        width: 50%;
        margin: 0;
    }

    .contact-form__submit-btn button {
        align-items: center;
        margin-top: 0;
    }

    .footer__container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .footer__bottom {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
}